<footer>
  <textarea
    class='form-control'
    placeholder='Output'
    rows='5'
    cols='200'
    disabled='disabled'
    id='output'
  >{{output}}</textarea>
  <p>Created by Ivan Hrynkiv =)</p>
</footer>